.App-root{
  @apply h-screen flex items-center flex-col;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .SnakeContainer{
    @apply flex flex-col my-5 mx-auto;
    &-canvas{
      @apply w-[350px] h-[350px] m-auto bg-gray-100;
    }
  }
}